@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
@import '../../public/signForm.scss';
.flex-wrap {
  @include flex;
}

.flex {
  @include flex(space-between, center);
  padding: 0 0.1rem;
  color: #f9f9f9;
  a {
    @include remove-a-default-behavior;
  }
}

.beautify-form {
  margin-top: -200px;
  .page-header {
    font-weight: 200;
    font-size: toRem(50px);
    color: #FFF;
    padding: 60px 0;
  }
}
