@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
@import '../../public/signForm.scss';
.flex-wrap {
  @include flex;
}

.flex {
  @include flex(space-between, center);
  padding: 0 0.1rem;
  color: #f9f9f9;
  a {
    @include remove-a-default-behavior;
  }
}

.beautify-form {
  .page-header {
    font-size: toRem(36px);
  }
  .back {
    float: right;
    color: #c9c9c9;
  }
}
