@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
@import '../../public/signForm.scss';
.flex-wrap {
  @include flex;
}

.flex {
  @include flex(space-between, center);
  padding: 0 0.1rem;
  color: #f9f9f9;
  a {
    @include remove-a-default-behavior;
  }
}

.beautify-form {
  .beautify-checkbox {
    &+label{
      border: 1px solid rgba(255,255,255,.4);
      background-color: transparent;
    } 
    
    &:checked + label:after {
      // background-color: rgba(255,255,255,.4);
      background-color: #5FC2AA;
    }
  }
}
